@media screen and (max-width: 760px) {
  #homePresentation {
    font-size: 3rem;
  }

  #homeSocials {
    margin-top: 2rem;
  }

  #homeSocials > * {
    margin-top: 1rem;
  }

  #homeSubPresentation {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 570px) {
  #homePresentation {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  #homePresentation {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  #homePresentation {
    font-size: 1.8rem;
  }
}
